/***********************************************
                MEDIA QUERIES
***********************************************/

$sevenhund: 700px;
$media-smaller: 701px;
$media-small: 900px;
$media-medium:901px;
$media-large:1400px;
$media-larger:1401px;
$twotird: 230px;

// widths
$fitty: 50%;
$hunnid: 100%;
$twenty: 20%;
$thirty: 30%;
$five: 5%;
$twenty2: 22%;
$four: 4%;
$twentyfv: 25%;
$svntfv: 75%;