$light_blue:  #C7F7FF;
$med_blue: #89C0C9;
$dark_blue: #3a5E63;
$light_brown: #C9A689;
$dark_brown: #7C593C;
$light_grey: #d4d4d4;
$dark_grey: #222;
$black: #333;
$whiteish: #fff;


$font1: 'Josefin Sans', sans-serif;
$font2: 'Helvetica', sans-serif;
$font3: 'Palatino Linotype', serif;
$font4: ‘Trebuchet MS’, serif;
$font5:'Cardo', serif;
$font6: "Book Antiqua", serif;
$font7:"Palatino" , serif;